.pivot-list {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-drawer {
    height: 100%;
    width: 14em;
    border-right: 1px solid grey;
}

.center-content {
    height: 100%;
    width: 100%;
}

.photo-grid-wrapper {
    display: grid;
    grid-template-columns: 14em;
    grid-gap: 6em;
    grid-auto-rows: 10em;
}

.photo-grid-item {
    grid-column: 1;
    height: 10em;
    width: 15em; 
    background-color: #dddddd;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.right-drawer {
    height: 100%;
    width: 20em;
    border-left: 1px solid grey;
}

