.pivot-list {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-drawer {
    height: 100%;
    width: 14em;
    border-right: 1px solid grey;
}

.center-content {
    height: 100%;
    width: 100%;
}

.photo-grid-wrapper {
    display: grid;
}

.photo-grid-item {
    height: 10em;
    width: 15em; 
    background-color: #dddddd;
}

.right-drawer {
    height: 100%;
    width: 20em;
    border-left: 1px solid grey;
}

