.pivot-list {
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    padding-top: 70px;
    display: flex;
    height: 100%;
    width: 100%;
}

.open-left-drawer {
    width: 14em;
}

.center-open-left-drawer {
    /* margin-left: 14em; */
}

.center-content {
    height: calc(100% - 70px);
    padding: 15px;
}

.center-content.open-right {
    width: calc(100% - 14em - 20em);
    margin-right: 20em;
}

.center-content.closed-right {
    width: calc(100% - 14em - 3em);
    margin-right: 3em;
}

.photo-grid-wrapper {
    display: flex;
    width: 100%;
    overflow: auto;
}

.photo-grid-item {
    min-height: 10em; 
    min-width: 15em;  
    background-color: #dddddd;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 10px;
}

.right-drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 70px);
    background-color: #ececec;
    right: 0;
    width: auto;
    transition: max-width 1s ramp-up;
}

.right-drawer.open {
    max-width: 20em;
    min-width: 20em;
}

.right-drawer.closed {
    max-width: 3em;
}

.left-drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    border-right: 1px solid grey;
}

.left-drawer .button-container{
    display: flex;
    padding-right: 10px;
    width: 14em;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 10px;
}

.left-drawer.open {
    min-width: 13em;
}

.left-drawer.closed {
    max-width: 3em;
}

.center-content .button-container {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.right-drawer .button-container {
    margin-bottom: 10px;
}

.button {
    user-select: none;
    border-radius: 50%;
    margin: 5px;
    border: none;
    background-color: grey;   
    height: 2.2em;
    width: 2.2em;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

